<h4>Books By "<%=current_user.name%>"</h4>
<br>
<font color="red"><%= flash[:message] if flash.has?(:message) %></font>
<% @author.books.each do |book| %>
<h4><a href="/books/<%= book.slug %>/edit"><%=book.name%></a><br><h4>
<ul>
 <%book.categories.each do |category|%>
   <li> <%=category.name%><br> </li>
 <%end%>
</ul>
<% end %>
<br>
